trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

pr:
  branches:
    include: ['*']

steps:
- script: sudo apt update
  displayName: 'Update OS'

- script: sudo apt install python3-setuptools
  displayName: 'Install setuptools'

- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.8' 
    addToPath: true

- script: pip install --user pipenv
  displayName: 'Install pipenv'

- script: ~/.local/bin/pipenv --python 3.8 && ~/.local/bin/pipenv install --dev
  displayName: Install dependencies
  workingDirectory: ./lambda

- script: ~/.local/bin/pipenv run pytest -v
  displayName: Run tests in python package
  workingDirectory: ./lambda

- bash: sh ../scripts/bundle_python.sh
  displayName: Create python deployment package
  workingDirectory: ./lambda

- script: mkdir dist
  displayName: 'create a dist folder'

- script: mkdir dist/client
  displayName: 'create a client folder'

- script: mv lambda/handler.zip dist/handler.zip
  displayName: 'move handler files into dist'
  
- script: mv client/** dist/client
  displayName: 'move client files into dist'

- script: mv main.tf dist/main.tf
  displayName: 'move main terraform file into dist'

- script: mv variables.tf dist/variables.tf
  displayName: 'move required variable file into dist'

- script: scripts/build_proxy.sh
  displayName: 'build proxy'

- script: cp -R build/. dist/
  displayName: 'Copy build to dist'

- script: cp -R terraform dist
  displayName: 'Copy proxy terraform'

- publish: dist/
  artifact: eps-steel-thread