trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

pr:
  branches:
    include: ['*']

steps:
- script: zip handler.zip handler.py
  displayName: 'zip the handler function for the release'

- script: mkdir dist; mv handler.zip dist/handler.zip
  displayName: 'create a dist folder'

- script: mv handler.zip dist/handler.zip; mv main.tf dist/main.tf; mv variables.tf dist/variables.tf; 
  displayName: 'move required files into dist'

- publish: dist/
  artifact: eps-steel-thread